html {
    height: 100%;
}
body{
     height: 100%;
      background: #0E20F0;
      background: linear-gradient(135deg, #6E9DF5 23%, #B0E4F5 100%);
}

.bg-fondo-general{
    box-shadow: 0 .9rem 1rem rgba(0,0,0,.15), 2px 2px 4px #0CF20C;
    background: #260905;
    background: linear-gradient(135deg, #E82A05 23%, #F29C8D 100%);
}

.bg-mi-color{
    background: #260905;
}

.bg-color-titulo{
    background: #fbcf71;
    background: linear-gradient(135deg, #fbcf71 50%, #c08636 100%);
}

.bg-color-tarjetas{
    background: #fbcf71;
    background: linear-gradient(135deg, #fbcf71 23%, #f9ffb5 100%);
}

.bg-color-buttom{
    background: #273566;
    color: white;
}

.bg-color-buttom:hover{
    background: #3b4f91;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    color: white;
}

/* Texto de los items */
.dropdown-menu.bg-mi-color .dropdown-item {
    color: #fcfcfd !important; /* texto en blanco */
}

/* Hover sobre los items */
.dropdown-menu.bg-mi-color .dropdown-item:hover {
    background-color: #4A1C18 !important;
    color: #fcfcfd !important;
}